.plant-item {
  align-items: center;
}
h3 {
  text-align: center;
  color: #4f3505;
}
.plant-name {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plant-btn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-content: center;
  color: #4f3505;
}
.dummyPic {
  width: 200px;
}
